{% extends 'base.html' %}
{% load tailwind_filters %}
{% block title %}Create Lead{% endblock title %}
{% block content %}
<div class="max-w-lg mx-auto">
    <a class="hover:text-blue-500" href="{% url 'leads:lead_list' %}">Back</a>
    <div class="border-b border-gray-200 mt-5">
    <h1 class="text-4xl text-gray-800">Assign an agent to this lead</h1>
    </div>
    <form class="mt-5 mb-5" method="POST">
        {% csrf_token %}
         {{ form|crispy }}
        <button class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 text-white rounded-md" type="submit">Assign</button>

    </form>
</div>
{% endblock content %}


    
    
      