<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Details</title>
</head>

<body>
<a href="{% url 'leads:lead_list' %}">Back</a>
    <h1>Lead Details</h1>
    <p>Full Name: {{lead}}</p>
    <p>Age: {{lead.age}}</p>
    <p>Agent: {{lead.agent}}</p>

    <a href="{% url 'leads:lead_update' lead.id %}">Edit lead</a>
    <a href="{% url 'leads:lead_delete' lead.id %}">Delete lead</a>
    

</body>

</html>